menuentry 'New Install' {
  load_video
  insmod gzio
  insmod part_msdos
  insmod ext2
  set root='(hd0,msdos1)'
  linux /boot/new/{{ os }}-installer/amd64/linux
  initrd /boot/new/{{ os }}-installer/amd64/initrd.gz
}
{{''}}
